<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</meta>
<title>Registration Complete!</title>
<link rel="stylesheet" type="text/css" href="/SOS/css/style.css" />
</head>
<body>
	<a href="/SOS"><img id="logo"
		alt="SATO - Ceaseless Creativity for a Sustainable World"
		src="/SOS/resources/banner" /></a>
	<div id="navBar">
		<ul>
			<li><a href="/SOS/en/registerbp">Register Business Partner</a></li>
			<li><a href="/SOS/en/registerec">Register End Customer</a></li>
			<li><a class="active" href="/SOS/en/viewregistry">Registry</a></li>
		</ul>
	</div>

	<h2>Thank you for using our SOS registration tool!</h2>
	<h3>A representant from SATO will soon be in touch with you
		through the email address you specified.</h3>
</body>
</html>